
:root {
  --primary-color: #9255FD;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  display: flex;
  align-items: center;
}

li {
  float: left;
  
}

li a {
  display: block;
  font-size: 17px;
  color: white;
  text-align: center;
  padding:25px 20px;
  text-decoration: none;
  
}

li a:hover {
  color: rgb(53, 131, 183);
  border-bottom: 3px solid  rgb(53, 131, 183);

}
 p{

  font-size: 14px;
  color: gray;
 }
 